apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: spark-user
  namespace: kafka
  labels:
    app: spark
spec:
  authentication:
    type: tls
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: "*"
          patternType: literal
        operations:
          - Read
          - Write
