apiVersion: redis.redis.opstreelabs.in/v1beta1
kind: Redis
metadata:
  name: redis-cluster
  namespace: redis
spec:
  size: 3
  redisExporter:
    enabled: true
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
