apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: clicks
  namespace: kafka
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  partitions: 6
  replicas: 3
  config:
    retention.ms: 259200000 # 3 days
