# prometheus/prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "rules/*.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'airflow'
    static_configs:
      - targets: ['host.docker.internal:8080']   # Airflow webserver
    metrics_path: '/admin/metrics'

  - job_name: 'spark'
    static_configs:
      - targets: ['host.docker.internal:4040']   # Spark UI khi chạy local
      - targets: ['spark-master:8080']           # nếu có spark docker

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9092']

  - job_name: 'minio'
    static_configs:
      - targets: ['minio:9000']
    metrics_path: '/minio/v2/metrics/cluster'

  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres:9187']

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093