# grafana/provisioning/datasources/prometheus.yml
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090          # tên service trong docker-compose
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 15s
      httpMethod: GET
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo   # nếu có Tempo/Jaeger