services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - bigdata-net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - bigdata-net

  airflow-webserver:
    image: apache/airflow:2.9.0
    container_name: airflow-webserver
    command: webserver
    ports:
      - "8082:8080"
    depends_on:
      - postgres
      - redis
    env_file: .env
    volumes:
      - ./logs:/opt/airflow/logs
    networks:
      - bigdata-net

  airflow-scheduler:
    image: apache/airflow:2.9.0
    command: scheduler
    depends_on:
      - postgres
      - redis
    env_file: .env
    volumes:
      - ./logs:/opt/airflow/logs
    networks:
      - bigdata-net

volumes:
  postgres-data: